/*Box sizing and placeholder reset*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/*Search bar*/

.search-wrap {
  position: relative;
  margin-top: 30px;
}

.search-main__label {
  position: absolute;
  top: 10px;
  left: 10px;
}

.search-main__label .material-icons {
  font-size: 35px;
  color: #bbc7c9;
}

.search-main__input {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: #eff3f8;
  border: 1px solid #d9e2ec;
  border-radius: 4px;
  font-size: 22px;
  padding: 13px 13px 13px 50px;
  transition: border 0.2s;
}

.search-main__input:focus {
  outline: none;
  border: 1px solid #999;
  transition: border 0.2s;
}


/*Main styles go here*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #e6eaef;
}

.content-wrap {
  width: 896px;
  margin: 0 auto;
}

.container {
  width: 100%;
}


/*Article preview*/

.jt-article-preview {
  margin-top: 30px;
  margin-bottom: 250px;
  width: 100%;
  position: relative;
  z-index: 0;
}

.jt-article-preview__content,
.jt-article-preview__text-wrap {
  overflow-x: hidden;
}

.jt-article-preview__bg-wrap {
  height: 461px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  max-height: 600px;
}

.jt-article-preview__bg {
  width: 100%;
  border-radius: 4px 4px 0 0;
  position: absolute;
}

.jt-article-preview__bg-overlay {
  position: absolute;
  z-index: 150;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 43%, rgba(0, 0, 0, 0.3) 100%);
  border-radius: 4px 4px 0 0;
  height: 461px;
  width: 100%;
}

.jt-article-preview__content-wrap {
  z-index: 1;
  position: relative;
  width: 90%;
  margin: -150px auto 0 auto;
  height: 300px;
  border-radius: 4px;
}

.jt-article-preview__shadow {
  box-shadow: 0 -3px 15px rgba(0, 0, 0, .1);
  width: 100%;
  height: 346px;
  position: absolute;
  z-index: -2;
  border-radius: 4px;
}

.jt-gradient-sp {
  position: absolute;
  top: 0;
  left: 0;
  height: 354px;
  background: linear-gradient(0deg, #e6eaef, #fafcfe);
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, white, #dce1e6) 1 100%;
  border-top: 1px solid white;
  border-bottom: none;
  width: 100%;
  z-index: -1;
}

.jt-article-preview__content {
  border-radius: 4px;
  height: 354px;
  position: relative;
  overflow-y: hidden;
  z-index: -2;
  background-color: #e6eaef;
}

.jt-article-preview__content.open {
  height: auto;
}

.jt-article-preview__buttons {
  color: #4f565e;
  margin: 50px auto 0 auto;
  background-color: #e6eaef;
  width: 530px;
}

.jt-article-preview__more {
  display: inline-block;
  padding: 8px 15px;
  height: 42px;
  border: 2px solid #c9cfd7;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 32px;
}

.jt-article-preview__more:hover, .jt-article-preview__goto:hover {
  background-color: #c9cfd7;
  transition: background-color 0.2s;
}

.jt-article-preview__more .material-icons {
  font-size: 24px;
}

.jt-article-preview__goto .material-icons {
  font-size: 24px;
}


.jt-article-preview__goto {
  display: inline-block;
  cursor: pointer;
  padding: 8px 15px;
  height: 42px;
  border: 2px solid #c9cfd7;
  border-radius: 4px;
  cursor: pointer;
}

.jt-article-preview__more span {
  vertical-align: 33%;
}
.jt-article-preview__goto span {
  vertical-align: 33%;
}


.jt-article-preview__notify {
  color: #fff;
  background-color: #6cc8db;
  padding: 11px 15px;
  width: 160px;
  text-align: center;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 172px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.jt-article-preview__notify:hover {
  background-color: #3da7bd;
  transition: background-color 0.2s;
}

.jt-article-preview__btn-compress {
  position: absolute;
  top: 200px;
  left: 37px;
  color: #4f565e;
  cursor: pointer;
  opacity: 0;
  display: none;
  border: 2px solid #c9cfd7;
  border-radius: 4px;
  padding: 5px;
  height: 35px;
  background-color: #F0F0F0;
}

.jt-article-preview__btn-close {
  position: absolute;
  top: -30px;
  right: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.4);
  height: 30px;
  width: 30px;
  text-align: center;
  padding-top: 4px;
  z-index: 200;
  cursor: pointer;
  opacity: 0;
}

.jt-article-preview__btn-compress .material-icons {
  font-size: 22px;
}


/*Pagination*/

.jt-pagination {
  width: 100%;
  height: 100px;
  border-top: 2px solid #c9cfd7;
  font-weight: 700;
  font-size: 20px;
  padding-top: 20px;
  position: relative;
}

.jt-pagination__item a {
  text-decoration: none;
  color: #4f565e;
}

.jt-pagination ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.jt-pagination__item {
  list-style: none;
  margin-right: 40px;
  color: #4f565e;
}

.jt-pagination__item:first-child a,
.jt-pagination__item a:hover {
  color: #6cc8db;
}

.jt-pagination .material-icons {
  position: absolute;
  font-size: 35px;
  color: #4f565e;
  cursor: pointer;
}

.jt-pagination .material-icons:hover {
  color: #6cc8db;
}

.jt-pagination .material-icons:first-child {
  top: 34px;
  left: 20px;
  color: #ccc;
}

.jt-pagination .material-icons:last-child {
  top: 34px;
  right: 20px;
}


/*Tablet styles (not important - leave for the end)*/

@media all and (max-width: 768px) {
  .content-wrap {
    width: 90%;
  }
  .jt-article-preview__more {
    display: block;
    width: 150px;
    margin: 0 auto;
    position: relative;
  }
  .jt-article-preview__goto {
    display: block;
    margin: 15px auto;
    width: 150px;
    position: relative;
  }
  .jt-article-preview__content-wrap {
    margin: -250px auto 0 auto;
  }
  .jt-pagination__item:nth-child(4),
  .jt-pagination__item:nth-child(5),
  .jt-pagination__item:nth-child(6) {
    display: none;
  }
  .jt-article-preview__notify {
    margin: 0 auto;
  }
  .jt-article-preview__btn-compress {
    top: 25px;
    left: 25px;
  }
  .jt-article-preview__buttons {
    width: 30%;
  }
}


/*Mobile styles (work on this after desktop)*/

@media all and (max-width: 426px) {
  .content-wrap {
    width: 90%;
  }
  .jt-pagination__item:nth-child(2),
  .jt-pagination__item:nth-child(3) {
    display: none;
  }
  .jt-article-preview__buttons {
    width: 50%;
  }
}
