/*font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;*/


/*Box sizing and placeholder reset*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-input-placeholder {
  color: #bbc7c9;
}

:-moz-placeholder {
  /* FF 4-18 */
  color: #bbc7c9;
}

::-moz-placeholder {
  /* FF 19+ */
  color: #bbc7c9;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #bbc7c9;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Main styles go here*/

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #4f565e;
}

h1, h2, h3 {
  color: #353839;
}

textarea {
  resize: none;
}

/* Container, wrapping and shadow */

.container {
  background-color: #e6eaef;
  width: 100%;
}

  .bg-content-wrap {
    background: -webkit-gradient(linear, left top, 0 275, from(#F5F7FA), to(#E6EAEF));
    border-radius: 5px;
    max-width: 809px;
    margin: 0 auto;
    margin: -12vw auto 0;
    padding-bottom: 2.875rem;
    position: relative;
  }

    .bg-shadow {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: 0 -8px 10px rgba(0,0,0,.1);
      height: 275px;
      position: absolute;
      width: 809px;
    }

/*Recurring styles*/

.bg-uppercase {
  text-transform: uppercase;
}

.bg-md-blue {
  color: #6cc8db;
}

/* Background image */

.bg-background-image {
  position: relative;
}

  .bg-background-image-shade {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.65);
    position: absolute;
    top: 0;
  }

  .bg-background-image img {
    max-width: 100%;
  }

    .bg-background-image-text {
      color: #fff;
      font-size: 4.5vw;
      font-weight: 100;
      position: absolute;
      top: 5vw;
      left: 50%;
      transform: translateX(-50%);
    }

/* Horizontal line between article and comments section */    

.article-comment-separator {
    background-color: #bbb;
    border: 0;
    color: #bbb;
    display: block;
    height: 2px;
    margin: 0 auto;
    margin-left: -160.5px;
    width: 1130px;
}    

/* Article section styling */

.bg-article-section {
  display: flex;
  padding: 1.875rem 2.75rem 2.375rem 2.375rem; 
}

  .bg-article-date {
    align-items: center;
    border-right: 1px solid #CCD5E0;
    color: #ACB9C8;
    display: flex;
    flex-direction: column;
    height: 167px;
    justify-content: center;
    letter-spacing: 3px;
    padding: 0;
    margin-right: 1.9375rem;
    padding-right: 2.0625rem;
  }

    .bg-article-day {
      font-size: 1.2rem;
      margin-bottom: .45rem;
    }

    .bg-article-month {
      font-size: .85rem;
      font-weight: 500;
    }

  .bg-author-profile {
    align-items: center;
    display: flex;
  }

    .bg-author-name-wrap {
      display: flex;
      flex-direction: column;
      letter-spacing: .15rem;
      padding-left: 1rem;
    }

      .bg-author {
        color: #858F98;
        font-size: .8rem;
        margin-bottom: .2rem;
      }

      .bg-author-name {
        font-size: .8rem;
        font-weight: 500;
        color: #4D5E6B;
      }

  .bg-article-header {
    color: #4D5E6B;
    font-size: 1.925rem;
    font-weight: 500;
    margin: 1.5rem 0 1.3rem;
  }

  .bg-article-subheader {
    color: #4D5E6B;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2.65rem;
    margin-bottom: 0;
  } 

  .bg-article p {
    font-size: 1rem;
    line-height: 1.625rem;
    margin-top: .70rem;
    margin-bottom: 1.75rem;
    max-width: 690px;
  }

  .bg-comment-content p {
    font-size: .95rem;
    line-height: 1.625rem;
    margin-bottom: .85rem;
  }

  .bg-link {
    align-items: center;
    display: flex;
    font-size: .9rem;
    margin-top: 2.7736rem;
    justify-content: center;
    width: 100%;
  }

    .bg-url {
      background-color: #f3f6f9;
      border-radius: 3px;
      -webkit-box-shadow: 0px -1px 0px 0px #C4CED7;
         -moz-box-shadow: 0px -1px 0px 0px #C4CED7;
              box-shadow: 0px -1px 0px 0px #C4CED7;
      color: #6cc8db;
      margin-left: .5rem;
      padding: .8rem 1rem;
    }

  /* Styling of code snippet inside article */

  .bg-code-snippet {
    margin-bottom: 3rem;
  }

    .bg-code-snippet label {
      color: #AAA;
      cursor: pointer;
      font-size: .85rem;
      display: inline-block;
      padding: .5rem;
    }

    .bg-code-snippet input {
      display: none;
    }

    .console {
      background-color: #f6f6f6;
      display: none;
      min-height: 162.625px;
      padding: 2.4571rem 2.1875rem
    }

      .js-code {
        display: inline-block;
        padding: .3rem 0;
      }

      .js-code-keyword {
        color: #FF851B;
      }

      .js-code-var-name {
        color: #1E90FF;
      }

      .js-code-number {
        color: #FF4136;
      }

      .js-code-function {
        color: #9B30FF ;      
      }

      .js-code-comment-and-line-number {
        color: #AAA;
      }

    .bg-code-snippet input:checked + label {
      color: #6cc8db;
      border-bottom: 3px solid #6cc8db;
    }

    .bg-code-snippet input:not(:checked) + label:hover {
      color: #4f565e;
    }

    .bg-code-snippet input:first-of-type:checked ~ .console:first-of-type,
    .bg-code-snippet input:nth-of-type(2):checked ~ .console:nth-of-type(2) {
      display: block;
    }

    .bg-code-snippet .bg-code-snippet-description {
      color: #5E5E5E;
      margin-top: .825rem;
      padding-left: 1rem;
      font-size: .9rem;
    }

.lf-author-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.lf-comment-user-profile-pic {
  width: 40px;
  height: 40px;
  padding: 25px;
  border-radius: 50%;
  margin: 0 auto;
  margin-right: 1.3em;
}

.bg-comment-section {
  margin: 0 auto;
  width: 665px;
}

.bg-comment-section h2 {
  color: #4D5E6B;
  font-size: 23px;
  font-weight: 500;
  text-align: center;
  letter-spacing: .05rem;
  padding: 1.1875rem;
  margin: 0;
}

.lf-comment {
  display: flex;
  padding: 1.45rem 0 0.8rem;
  border-top: 1px solid #bbb;
}

.bg-user-name {
  color: #4D5E6B;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
}

.bg-comment-date {
  font-size: .7rem;
  color: #8b9496;
  letter-spacing: 0.025rem;
  display: flex;
  align-items: flex-end;
}

.bg-comment-date .material-icons {
  font-size: 14px;
  font-weight: bold;
  color: #b8c6c7;
  margin-right: 5px;
}

.lf-comment-info__header {
  display: flex;
  justify-content: space-between;
}

.bg-comment-subject h3 {
  color: #4D5E6B;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.75px;
}

.bg-comment-content {
  font-weight: 400;
  color: #72757e;
  line-height: 27px;
  margin-top: -10px;
}

.lf-comment-info__buttons {
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;
  font-size: .625rem;
  color: #8b9496;
}

.lf-comment-info__reply,
.bg-comment-info__show_replies {
  display: flex;
  align-items: center;
}

/*Reply and Show Replies text on hover*/

  /*Make all elements, except of the span at the end, a darker (text) color on hover*/

  .lf-comment-info__reply:hover,
  .lf-comment-info__reply:hover > i,
  .bg-comment-info__show_replies:hover > a {
    color: #4f565e;
  }

  /*Color of span after Show Replies button (containing no. of replies) */

  .bg-comment-info__show_replies:hover > span {
    background-color: #3da7bd;
  }

.lf-comment-info__reply:hover,
.lf-comment-info__reply a:hover,
.bg-comment-info__show_replies:hover,
.bg-comment-info__show_replies a:hover {
  cursor: pointer;
}

/*Buttons next to Reply and Show Replies on hover*/


.lf-comment-info__reply .material-icons {
  font-size: 13px;
  font-weight: bold;
  color: #b8c6c7;
  margin-right: 10px;
}

.lf-comment-info__replies {
  align-items: center;
  background-color: #6cc8db;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: .75rem;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1rem;
  border-radius: 4px;
  margin-left: 10px;
  height: 18px;
  width: 27px;
}

.lf-comment-inline {
  margin-left: 4em;
}

.lf-comment-inline .bg-comment-content {
  margin-top: 0;
}

.bg-add-comment h3 {
  color: #4D5E6B;
  text-align: center;
  font-size: .7rem;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 20px 0 15px 0;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;

}

.lf-add-comment__form {
  display: flex;
  margin-top: 15px;
}

.lf-add-comment-user-profile-pic {
  width: 40px;
  height: 40px;
  padding: 25px;
  border-radius: 50%;
  margin-right: 2em;
}

.bg-comment-form {
  width: 100%;
}

.lf-comment-form__input, .lf-comment-form__textarea {
  -webkit-box-shadow: 0px -1px 0px 0px #C4CED7;
     -moz-box-shadow: 0px -1px 0px 0px #C4CED7;
          box-shadow: 0px -1px 0px 0px #C4CED7;
  width: 100%;
}

.lf-comment-form__input, .lf-comment-form__textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  width: 100%;
  background-color: #f2f5f7;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 12px;
}

.lf-comment-form__input:focus, .lf-comment-form__textarea:focus {
  outline: none;
  border: 1px solid #6cc8db;
}

.lf-comment-form__textarea {
  margin-top: 20px;
}

.lf-comment-form__button {
  margin-top: 1.6875rem;
  display: flex;
  justify-content: center;
}

.lf-comment-form__button button {
  background-color: #6cc8db;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: .55rem;
  font-weight: 100;
  letter-spacing: 0.1875rem;
  line-height: 1rem;
  height: 30px;
  padding: 0 1.9375rem;
}

.lf-comment-form__button button:hover {
  cursor: pointer;
  background-color: #3da7bd;
}

/*Read Next Post article specific styling*/

.bg-author-profile-pic-next-post {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.bg-author-next-post {
  color: #858F98;
  font-size: .6rem;
  margin-bottom: .2rem;
}

.bg-author-name-next-post {
  font-size: .7rem;
  font-weight: 500;
  letter-spacing: .175rem;
  color: #4D5E6B;
}

.bg-article-preview__buttons {
  background-color: #e6eaef;
  color: #4f565e;
  display: flex;
  margin: 3.125rem 0 2.5rem;
}

.bg-article-preview__more, 
.bg-article-preview__goto {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  height: 38px;
  border: 1px solid #C4CED7;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: .075rem;
}

.bg-article-preview__more:hover, 
.bg-article-preview__goto:hover {
  background-color: #c9cfd7;
}

.bg-article-preview__goto {
  margin-left: 40px;
}
  
  .bg-article-preview__more .material-icons,
  .bg-article-preview__goto .material-icons {
    font-size: 22px;
    margin-top: -1px;
  }

  .bg-article-preview__more span,
  .bg-article-preview__goto span {
    margin-left: 7px;
  }


@media all and (max-width: 935px) {
  .bg-content-wrap {
    background: -webkit-gradient(linear, left top, 0 200, from(#F5F7FA), to(#E6EAEF));
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: -100px auto 0;
    width: 80%;
  }

   h1 {
    margin-top: 40px;
  }

    .bg-shadow {
      margin: 0 auto;
      width: 100%;
      height: 200px;
    }

    .bg-article-section {
      align-items: center;
      flex-direction: column;
      padding-left: 3rem;
      padding-right: 3rem;
    }  

      .bg-article-date {
        align-self: center;
        border-right: none;
        border-bottom: 1px solid #aaa;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        width: 70%;
        margin-right: 0;
        padding: 10px 20px 20px;
      }

     .console {
        padding: 1rem;
      }

  .bg-author-profile {
    justify-content: center;
    padding: 2rem 1.25rem;
  }

  .lf-author-profile-pic {
    height: 15px;
    width: 15px;
    padding: 15px;
  }
  
  .lf-add-comment-user-profile-pic {
    display: none;
  }

  .bg-background-image-text {
    font-size: 6vw;
  }

  .bg-article-preview__more, 
  .bg-article-preview__goto {
    height: 55px;
  }
}

@media all and (max-width: 825px) {
  .bg-comment-section {
    width: 100%;
  }
}

@media all and (max-width: 725px) {

    .bg-article-header {
      font-size: 1.6739rem;
    }

    .bg-article-subheader {
      font-size: 1.1471rem;
    }

    .bg-comment-section h2 {
      font-size: 20px;
    }

 }

@media all and (max-width: 625px) {

    .bg-content-wrap {
      margin-top: -75px;
      width: 90%;
    }

 }

 @media all and (max-width: 440px) {

    .bg-content-wrap {
      margin-top: -50px;
      min-width: 300px;
    }
    
    .bg-article-section {
      padding: 1.875rem 2.75rem 2.375rem 2.375rem;
    }
  
    .lf-comment-info__header {
      justify-content: flex-start;
      flex-direction: column;
      margin-top: 8px;
    }

      .bg-comment-date {
        margin-top: 10px;
      }

    .lf-comment-info__content {
      margin-top: 30px;
      margin-left: -65px;
    }

    .lf-comment-info__buttons {
      margin-left: -65px;
    }

    .lf-comment-inline {
      margin-left: 1.5rem;
    }

    .bg-background-image-text {
      font-size: 7vw;
    }

 }



