/*Box sizing and placeholder reset*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*::-webkit-input-placeholder {
  color: #bbc7c9;
}

*:-moz-placeholder {
  /* FF 4-18 */
  color: #bbc7c9;
}

*::-moz-placeholder {
  /* FF 19+ */
  color: #bbc7c9;
}

*:-ms-input-placeholder {
  /* IE 10+ */
  color: #bbc7c9;
}


/*Search bar*/

.search-wrap {
  position: relative;
  margin-top: 30px;
}

.search-main__label {
  position: absolute;
  top: 10px;
  left: 10px;
}

.search-main__label .material-icons {
  font-size: 35px;
  color: #bbc7c9;
}

.search-main__input {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: #f2f5f7;
  border: 2px solid #e6edf5;
  border-radius: 4px;
  font-size: 22px;
  padding: 13px 13px 13px 50px;
}

.search-main__input:focus {
  outline: none;
  border: 2px solid #999;
  transition: border 0.2s;
}


/*Main styles go here*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.content-wrap {
  width: 800px;
  margin: 0 auto;
}

.container {
  width: 100%;
}



/* Desktop-size header styles */

/* Header container */
.jr-header {
  background-color: rgb(29,34,38);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
  height: 104px;
  font-size: 1em;

  min-width: 300px;
}

.jr-header a {
  text-decoration: none;
}

.jr-header-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 3em;
  padding-right: 3em;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}


/* Header logo */
.jr-header__logo {
  text-align: left;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  flex-grow: 1.2;
  position: relative;
}

.jr-header__logo a {
  display: inline-block;
  color: #71869c;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

/* logo hover animation */
.jr-header__logo a::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgb(29,34,38);

  -webkit-transition: opacity 0.2s, visibility 0.2s;
  -moz-transition: opacity 0.2s, visibility 0.2s;
  -ms-transition: opacity 0.2s, visibility 0.2s;
  -o-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
}

.jr-header__logo a:hover::after {
  visibility: visible;
  opacity: 0.25;
}

.jr-header__logo__img {
  height: 4em;
  width: 4em;
  display: inline-block;
  vertical-align: middle;
}

.jr-header__logo__txt {
  display: inline-block;
  margin: 0 0 0 0.6em;
  padding: 0;
  vertical-align: middle;
  text-align: left;
}

.jr-header__logo__txt--top {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  margin: 0;
  font-weight: 300;
}

.jr-header__logo__txt--top strong {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.jr-header__logo__txt--top strong:first-of-type {
  color: #49bcd8;
}

.jr-header__logo__txt--top strong:nth-of-type(2) {
  color: rgb(207,234,239);
}

.jr-header__logo__txt--btm {
  margin: 2px 0 0 0;
  font-weight: 300;
}



/* Header menu */
.jr-header__menu {
  font-size: inherit;
  font-weight: 100;
  align-self: flex-end;
  margin: 50px 0 0;
  padding: 0;

  flex-grow: 2;
}

.jr-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.jr-menu--header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  font-size: 1.1em;
  font-weight: 300;
}

.jr-menu__item--header {
  padding: 15px 3px;
  position: relative;
}

.jr-menu__item--header:nth-of-type(2) {
  margin: 0 1.7em;
}

.jr-menu__item--header a {
  color: rgb(111,124,136);
  padding: 15px 10px;
  margin: 0;

  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.jr-menu__item--header a:hover {
  color: rgb(154,163,170);
}

/* Animation for header menu */
.jr-menu__item--header::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 3px solid #49bcd8;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;

  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.jr-menu__item--header:hover::before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.jr-header-home .jr-menu__item--header:first-of-type::before,
.jr-header-upcoming .jr-menu__item--header:nth-of-type(2)::before,
.jr-header-archive .jr-menu__item--header:nth-of-type(3)::before {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
}

.jr-header-home .jr-menu__item--header:first-of-type a,
.jr-header-upcoming .jr-menu__item--header:nth-of-type(2) a,
.jr-header-archive .jr-menu__item--header:nth-of-type(3) a {
  color: rgb(154,163,170);
}



/* Header dropdown */
.jr-header__dropdown input {
  display: none;
}

.jr-header__dropdown {
  z-index: 1000;
  padding: 0;
  margin: 0;
}

.jr-dropdown-open {
  background-color: #141619;
  padding-left: 13px;
  padding-right: 13px;
  height: 44px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.jr-header__dropdown__img,
.jr-header__dropdown__arrow {
  padding: 0;
  cursor: pointer;
}

.jr-header__dropdown .fa-caret-up {
  /*border: 1px solid green;*/
  /*color: rgb(91,97,104);*/
  /*padding: 0;*/
  /*margin-left: 0.3em;*/

  /*display: -webkit-box;*/
  /*display: -moz-box;*/
  /*display: -ms-flexbox;*/
  /*display: -webkit-flex;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: flex-start;*/

  /*font-size: 24px;*/
  /*line-height: 20px;*/
  /*vertical-align: top;*/
}

.jr-header__dropdown__arrow {
  /*display: -webkit-box;*/
  /*display: -moz-box;*/
  /*display: -ms-flexbox;*/
  /*display: -webkit-flex;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*color: rgb(91,97,104);*/
  height: 0;
  width: 0;
  /*border: 6px solid transparent;*/
  border-bottom: 7px solid rgb(91,97,104);
  /*border-top: 6px solid red;*/
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  /*margin-left: 0.5em;*/
  /*margin: 0 0 0 0.5em;*/
  margin-left: 0.5em;
  /*font-size: 1.5em;*/


  -webkit-transition: transform 0.15s, color 0.15s;
  -moz-transition: transform 0.15s, color 0.15s;
  -ms-transition: transform 0.15s, color 0.15s;
  -o-transition: transform 0.15s, color 0.15s;
  transition: transform 0.15s, color 0.15s;


  /* easeInOutExpo */
  -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
  transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}
/*.jr-dropdown-open:hover .fa-caret-up,*/
#jr-dropdown-checkbox:not(:checked) ~ .jr-header .jr-dropdown-open:hover .jr-header__dropdown__arrow {
  border-bottom-color: rgb(61, 63, 69);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}


/* Dropdown dot img */
.jr-header__dropdown__img {
  width: 20px;
  height: 20px;
  margin: 0;
  position: relative;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.jr-header__dropdown__img::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(20,22,25,0.6);
  opacity: 0;

  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.jr-header__dropdown__img .dots-row {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 33.33%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.jr-header__dropdown__img .dot {
  height: 5px;
  width: 5px;
  border: 0;
  border-radius: 50%;
}

#blue {
  background-color: #46A2E1;
}

#green {
  background-color: #71C66C;
}

#red {
  background-color: #F95452;
}

#pink {
  background-color: #F475AF;
}

#purple {
  background-color: #7D77F5;
}

#l-green {
  background-color: #A4CB3E;
}

#yellow {
  background-color: #F3B632;
}

#orange {
  background-color: #FF854A;
}

#l-blue {
  background-color: #5BC6E4;
}



/* Dropdown menu */
#jr-dropdown-checkbox {
  display: none;
}

.jr-dropdown-menu-wrapper {
  width: 100%;
  min-width: 300px;
  position: absolute;
  top: 99px;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 1000;
  visibility: hidden;

  /* fade out animation */
  -webkit-transition: visibility 0s 0.75s;
  -moz-transition: visibility 0s 0.75s;
  -ms-transition: visibility 0s 0.75s;
  -o-transition: visibility 0s 0.75s;
  transition: visibility 0s 0.75s;
}

.jr-dropdown-menu-wrapper a {
  text-decoration: none;
}

.jr-dropdown-menu {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #141619;
  opacity: 0;
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  -o-transform: translateY(-25px);
  transform: translateY(-25px);

  /* fade out animation time */
  -webkit-transition: opacity 0.47s 0.2s, transform 0.6s 0.15s;
  -moz-transition: opacity 0.47s 0.2s, transform 0.6s 0.15s;
  -ms-transition: opacity 0.47s 0.2s, transform 0.6s 0.15s;
  -o-transition: opacity 0.47s 0.2s, transform 0.6s 0.15s;
  transition: opacity 0.47s 0.2s, transform 0.6s 0.15s;

  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);


}

.jr-dropdown-menu__triangle {
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-bottom-color: #141619;
  position: absolute;
  top: -22px;
  right: calc(3em + 0.8em - 4px);
  /* 4px = (22px- 15px) / 2*/
}

.jr-dropdown-close {
  color: rgb(140,145,149);
  position: absolute;
  top: 0.8em;
  right: 0.5em;
}

.jr-dropdown-close .material-icons {
  font-size: 2em;
  color: #8C9195;
  cursor: pointer;

  -webkit-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -ms-transition: color 0.15s;
  -o-transition: color 0.15s;
  transition: color 0.15s;
}

.jr-dropdown-close:hover .material-icons {
  color: rgb(61, 63, 69);
}

.jr-dropdown-menu ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  flex-flow: row wrap;
}

.jr-dropdown-menu ul li {
  height: 6.125em;
  margin: 22px 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jr-dropdown-menu ul li p {
  text-align: center;
  font-size: 0.9em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.jr-dropdown-menu__logo {
  margin: 0 auto;
  padding: 0;
  height: 4.875em;
  width: 4.875em;
  border-radius: 3px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}



.jr-dropdown-menu__logo__outer,
.jr-dropdown-menu__logo__inner {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
}

.jr-dropdown-menu__logo__outer {
  width: 58px;
  height: 58px;

  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  -ms-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.jr-dropdown-menu__logo__inner {
  width: 100%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;

  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.jr-dropdown-menu__logo__img {
  width: 27px;
  margin: 0;
}

.jr-dropdown-menu__logo__img-color {
  display: none;
}


/* Dropdown menu: Styles of each logo */
#jr-labs a {
  color: #379BF2;
}

#jr-labs .jr-dropdown-menu__logo__outer {
  border: 6px solid rgba(55,155,242,0.3);
}
#jr-labs .jr-dropdown-menu__logo__inner {
  background-color: #379BF2;
}

#jr-students a {
  color: #52CD6A;
}

#jr-students .jr-dropdown-menu__logo__outer {
  border: 6px solid rgba(82,205,106,0.3);
}

#jr-students .jr-dropdown-menu__logo__inner {
  background-color: #52CD6A;
}

#jr-enlightenment a {
  color: #AE55C2;
}

#jr-enlightenment .jr-dropdown-menu__logo__outer {
  border: 6px solid rgba(174,85,194,0.3);
}
#jr-enlightenment .jr-dropdown-menu__logo__inner {
  background-color: #AE55C2;
}

#jr-learn a {
  color: #00C9E3;
}

#jr-learn .jr-dropdown-menu__logo__outer {
  border: 6px solid rgba(0,201,227,0.3);
}
#jr-learn .jr-dropdown-menu__logo__inner {
  background-color: #00C9E3;
}

#jr-blog a {
  color: #7F69E8;
}

#jr-blog .jr-dropdown-menu__logo__outer {
  border: 6px solid rgba(127,105,232,0.3);
}
#jr-blog .jr-dropdown-menu__logo__inner {
  background-color: #7F69E8;
}

#jr-books a {
  color: #99D225;
}

#jr-books .jr-dropdown-menu__logo__outer {
  border: 5px solid rgba(153,210,37,0.3);
}
#jr-books .jr-dropdown-menu__logo__inner {
  background-color: #99D225;
}

#jr-tech a {
  color: #FF7C3E;
}

#jr-tech .jr-dropdown-menu__logo__outer {
  border: 5px solid rgba(255,124,62,0.3);
}
#jr-tech .jr-dropdown-menu__logo__inner {
  background-color: #FF7C3E;
}

#jr-qa a {
  color: #FF3A4D;
}

#jr-qa .jr-dropdown-menu__logo__outer {
  border: 5px solid rgba(255,58,77,0.3);
}
#jr-qa .jr-dropdown-menu__logo__inner {
  background-color: #FF3A4D;
}

#jr-know a {
  color: #26CDE6;
}

#jr-know .jr-dropdown-menu__logo__outer {
  border: 5px solid rgba(38,205,230,0.3);
}
#jr-know .jr-dropdown-menu__logo__inner {
  background-color: #26CDE6;
}


/* Dropdown menu: hover effects */
.jr-dropdown-menu ul > li > a:hover .jr-dropdown-menu__logo__outer {
  border-color: rgba(255,255,255,0.5) !important;
}
.jr-dropdown-menu ul > li > a:hover .jr-dropdown-menu__logo__inner {
  background-color: white !important;
}

.jr-dropdown-menu ul > li > a:hover .jr-dropdown-menu__logo__img-white {
  display: none;
}

.jr-dropdown-menu ul > li > a:hover .jr-dropdown-menu__logo__img-color {
  display: block;
}

.jr-dropdown-menu ul > li > a:hover p {
  margin-top: 7px;
}

#jr-labs > a:hover .jr-dropdown-menu__logo {
  background-color: #379BF2;
}

#jr-students > a:hover .jr-dropdown-menu__logo {
  background-color: #52CD6A;
}

#jr-enlightenment > a:hover .jr-dropdown-menu__logo {
  background-color: #AE55C2;
}

#jr-learn > a:hover .jr-dropdown-menu__logo {
  background-color: #00C9E3;
}

#jr-blog > a:hover .jr-dropdown-menu__logo {
  background-color: #7F69E8;
}

#jr-books > a:hover .jr-dropdown-menu__logo {
  background-color: #99D225;
}

#jr-tech > a:hover .jr-dropdown-menu__logo {
  background-color: #FF7C3E;
}

#jr-qa > a:hover .jr-dropdown-menu__logo {
  background-color: #FF3A4D;
}

#jr-know > a:hover .jr-dropdown-menu__logo {
  background-color: #26CDE6;
}



/* Dropdown icon and menu animations */
.jr-dropdown-open:hover .jr-header__dropdown__img::after {
  opacity: 1;
}

#jr-dropdown-checkbox:checked ~ .jr-header .jr-header__dropdown__arrow {
  /*border-bottom-color: #141619;*/
  -webkit-transform: translateY(25px) rotateZ(180deg);
  -moz-transform: translateY(25px) rotateZ(180deg);
  -ms-transform: translateY(25px) rotateZ(180deg);
  -o-transform: translateY(25px) rotateZ(180deg);
  transform: translateY(25px) rotateZ(180deg);
}

#jr-dropdown-checkbox:checked ~ .jr-header .jr-header__dropdown__img::after {
  /*visibility: visible;*/
  opacity: 1;
}

#jr-dropdown-checkbox:checked ~ .jr-dropdown-menu-wrapper {
  visibility: visible;

  /* fade in delay sets to 0s */
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

#jr-dropdown-checkbox:checked ~ .jr-dropdown-menu-wrapper .jr-dropdown-menu {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);

  /* fade in animation */
  -webkit-transition: opacity 0.6s 0.13s, transform 0.6s 0.15s;
  -moz-transition: opacity 0.6s 0.13s, transform 0.6s 0.15s;
  -ms-transition: opacity 0.6s 0.13s, transform 0.6s 0.15s;
  -o-transition: opacity 0.6s 0.13s, transform 0.6s 0.15s;
  transition: opacity 0.6s 0.13s, transform 0.6s 0.15s;

  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}


.jr-filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(102, 106, 111, 0.2);
  opacity: 0;
  visibility: hidden;
  z-index: 999;

  -webkit-transition: visibility 0.2s 0.17s, opacity 0.2s 0.17s;
  -moz-transition: visibility 0.2s 0.17s, opacity 0.2s 0.17s;
  -ms-transition: visibility 0.2s 0.17s, opacity 0.2s 0.17s;
  -o-transition: visibility 0.2s 0.17s, opacity 0.2s 0.17s;
  transition: visibility 0.2s 0.17s, opacity 0.2s 0.17s;
}

#jr-dropdown-checkbox:checked ~ .jr-filter {
  visibility: visible;
  opacity: 1;
}


  /* Desktop-size footer style*/
.jr-footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #1e2226;
  color: #71869c;
  font-weight: 300;
  text-align: center;
  padding: 3.2em 0;
  min-width: 300px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.jr-footer a {
  text-decoration: none;
  color: inherit;
}

/* Footer menu */
.jr-menu--footer {
  margin: 0 auto 2.25em;
  color: rgb(154,163,170);
  text-transform: uppercase;
  padding: 0;
  font-size: 1em;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.jr-menu__item--footer {
  padding: 0 0.7em;

  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.jr-menu__item--footer:hover {
  color: rgb(213, 221, 228);
}

/* Footer social media menu */
.jr-footer__social {
  margin: 0 auto;
  text-align: center;
}

.jr-menu__item--social {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: left;
  vertical-align: top;

  -webkit-transition: filter 0.2s;
  -moz-transition: filter 0.2s;
  -o-transition: filter 0.2s;
  transition: filter 0.2s;
}

.icon-instagram,
.icon-twitter {
  font-size: 1.5em;
}

.jr-menu__item--social:nth-of-type(2) {
  margin: 0 2.8em;
}

.jr-menu__item--social img {
  width: 1.5em;
  height: 1.5em;
  margin: 0;
}

/* add hover effect for social icons */
.jr-menu__item--social:hover {
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
}


/* Footer horizontal line */
.jr-footer hr {
  border: 0;
  height: 1px;
  width: 65%;
  margin: 2.5em auto;
  background-color: rgba(128,128,128,0.2);
}

/* Footer developer info */
.jr-footer__developers {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.jr-footer__developers > p {
  font-size: 0.9em;
}

.jr-developers {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2.25em;
  margin-bottom: 0;
  padding: 0;
}

.jr-developers .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.jr-developers__each {
  margin: 0;
  text-align: center;
  width: 9.5em;
}

.jr-developers__each div {
  margin: 0 auto;
  width: 4.6em;
  height: 4.6em;
  border-radius: 50%;
  border: 4px solid #4E5357;
  position: relative;
}

.jr-developers__each__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.jr-developers__each__name {
  font-size: 1.1em;
  color: #90A4AE;
}

/* add bounce animation to developer's img */
.jr-developers__each:hover div {
  -webkit-animation: bounce .4s ease-in-out 2;
  -o-animation: bounce .4s ease-in-out 2;
  animation: bounce .4s ease-in-out 2;
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}




/* Tablet and mobile version */
/* New breakpoint is needed for header */
@media all and (max-width: 1240px) {
  /* Header styles */
  .jr-header__logo {
    flex-grow: 1.8;
  }

  /* Footer styles */
  .jr-footer hr {
    width: 75%;
  }
}

/*Tablet styles (not important - leave for the end)*/
/* Tablet landscape breakpoint */
@media all and (max-width: 1024px) {
  /* Header Tablet styles (landscape) */
  .jr-header {
    font-size: 0.85em;
  }

  .jr-header-wrapper {
    padding: 0 2em;
  }

  .jr-header__logo {
    flex-grow: 2;
  }

  .jr-header__menu .mobile-hidden {
    display: none;
  }

  .jr-header__logo__txt--top {
    font-size: 1.8em;
  }

  .jr-header__logo__txt--btm {
    font-size: 0.9em;
  }

  .jr-dropdown-menu ul {
    width: 90%;
  }

  .jr-dropdown-menu__triangle {
    right: 35px;
    /*right: calc(0.85 * 16px * 2 + 0.85 * 16px * 0.8 - 4px);*/
  }

  /*#jr-dropdown-checkbox:checked ~ .jr-header .jr-header__dropdown .material-icons {*/
    /*color: rgb(20,22,25);*/
    /*-webkit-transform: translateY(25px) rotateZ(180deg);*/
    /*-moz-transform: translateY(25px) rotateZ(180deg);*/
    /*-ms-transform: translateY(25px) rotateZ(180deg);*/
    /*-o-transform: translateY(25px) rotateZ(180deg);*/
    /*transform: translateY(25px) rotateZ(180deg);*/
  /*}*/


  /* Footer styles */
  .jr-footer hr {
    width: 80%;
  }
}

/* Add a new breakpoint for dropdown menu responsive design */
@media all and (max-width: 900px) {
  .jr-dropdown-menu ul {
    width: 85%;
  }

  .jr-dropdown-menu ul li:nth-child(-n+4) {
    width: 25%;
  }
}


/* Tablet portrait breakpoint */
@media all and (max-width: 768px) {
  .content-wrap {
    width: 90%;
  }


  /* Header tablet styles */
  .jr-header {
    height: auto;
    font-size: 1em;
  }

  .jr-header-wrapper {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.5em 0 0;
  }

  .jr-header__item {
    flex-grow: 0;
  }

  .jr-header__logo__txt--top {
    font-size: 1.8em;
  }

  .jr-header__logo__txt--btm {
    font-size: 0.9em;
  }

  .jr-header__menu {
    font-size: 15px;
  }

  .jr-header__menu {
    align-self: center;
    order: 3;
    margin-top: 1.6em;
  }

  .jr-header__dropdown {
    margin-top: 28px;
    font-size: 12px;
  }

  .jr-dropdown-open {
    height: 30px;
  }

  .jr-header__dropdown__img {
    width: 16px;
    height: 16px;
  }

  .jr-header__dropdown__img .dot {
    height: 4px;
    width: 4px;
  }

  .jr-header__dropdown__arrow {
    /*height: 0;*/
    /*width: 0;*/
    border-bottom: 6px solid rgb(91,97,104);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  #jr-dropdown-checkbox:checked ~ .jr-header .jr-header__dropdown__arrow {
    -webkit-transform: translateY(18px) rotateZ(180deg);
    -moz-transform: translateY(18px) rotateZ(180deg);
    -ms-transform: translateY(18px) rotateZ(180deg);
    -o-transform: translateY(18px) rotateZ(180deg);
    transform: translateY(18px) rotateZ(180deg);
  }

  .jr-dropdown-menu-wrapper {
    top: 10.6em;
  }

  .jr-dropdown-menu__triangle {
    border: 10px solid transparent;
    border-bottom-color: rgb(20,22,25);
    right: calc(50% - 0.1em - 16px * 0.8 * 2.25 / 2 - 10px / 2);
    top: -20px;
  }

  .jr-dropdown-close .material-icons {
    font-size: 1.75em;
  }


  /* Footer tablet styles */
  .jr-menu--footer {
    font-size: 0.8em;
  }

  .jr-menu__item--footer {
    padding: 0 0.5em;
  }

  .icon-instagram,
  .icon-twitter {
    font-size: 20px;
  }

  .jr-menu__item--social img {
    width: 20px;
    height: 20px;
  }

  .jr-footer hr {
    width: 85%;
  }

  .jr-footer__developers {
    width: 90%;
  }

  .jr-footer__developers > p {
    font-size: 12px;
  }

  .jr-developers__each__img {
    width: 65px;
    height: 65px;
  }

  .jr-developers__each__name {
    font-size: 15px;
  }
}

/* New breakpoint is needed for header */
@media all and (max-width: 550px) {
  /* Header Mobile styles */
  .jr-header {
    font-size: 0.9em;
  }

  .jr-header-wrapper {
    padding: 1em 0 0;
  }

  .jr-dropdown-menu-wrapper {
    top: 9.6em;
  }

  .jr-dropdown-menu ul li {
    width: 33.33% !important;
  }

  .jr-dropdown-close .material-icons {
    font-size: 1.5em;
  }



  /* Footer styles */
  .jr-menu--footer {
    flex-flow: column;
  }

  .jr-menu__item--footer {
    padding: 0.5em 0;
  }

  .jr-footer hr {
    width: 90%;
  }

  .jr-developers .row {
    width: 80%;
  }

  .jr-developers__each {
    /*margin: 0 40px;*/
  }
}

/*Mobile styles (work on this after desktop)*/

@media all and (max-width: 360px) {
  .content-wrap {
    width: 90%;
  }

  /*Header Mobile styles*/
  .jr-header {
    font-size: 1em;
  }

  .jr-header__logo__txt--top {
    font-size: 1.4em;
  }
  .jr-header__logo__txt--btm {
    display: none;
  }

  .jr-header__dropdown,
  .jr-header__menu {
    font-size: 0.85em;
  }

  .jr-menu__item--header {
    padding: 10px 3px;
  }

  .jr-menu__item--header a {
    padding: 10px 10px;
  }

  .jr-header__dropdown__img {
    width: 14px;
    height: 14px;
  }

  .jr-header__dropdown__img .dot {
    height: 4px;
    width: 4px;
  }

  .jr-header__dropdown__arrow {
    border-bottom: 5px solid rgb(91,97,104);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

  #jr-dropdown-checkbox:checked ~ .jr-header .jr-header__dropdown__arrow {
    -webkit-transform: translateY(17px) rotateZ(180deg);
    -moz-transform: translateY(17px) rotateZ(180deg);
    -ms-transform: translateY(17px) rotateZ(180deg);
    -o-transform: translateY(17px) rotateZ(180deg);
    transform: translateY(17px) rotateZ(180deg);
  }

  .jr-dropdown-open {
    padding: 0 0.7em;
  }

  .jr-dropdown-menu-wrapper {
    top: 10em;
  }

  .jr-dropdown-menu__triangle {
    right: calc(50% - 0.65em - 10px);
  }


  .jr-dropdown-menu ul {
    width: 100%;
    justify-content: flex-start;
  }

  .jr-dropdown-menu ul li {
    width: 50% !important;
  }


  /* Footer Mobile styles*/
  .jr-footer__developers > p {
    font-size: 0.8em;
  }
}